/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Nov-2019, 20:11:27
    Author     : Dan
*/
.code-image {
    opacity: 0.1;
}

.nav-item {
    padding: 10px;
}

.row {
    height: 40px;
}

.navbar-custom {
    background-color: transparent;
}

.fa {
    padding: 10px;
    font-size: 100px;
    width: 50px;
    margin-bottom: 20px;
}

.fa:hover{
    text-decoration: none;    
}
#footer {
    background-color: transparent;
    height: 20px;
}

#footer hr {
    background-color: deepskyblue;
    margin-top: 0px;
}

h1 {
    color: white;
}

#footer p {
    color: transparent;
    margin-bottom: 0px;
}

